<form action="/diet" method="post">
    <label> Calories in your breakfast:</label>
    <input type="number" name="breakfastCal" placeholder="(eg. 1200)">
    <label> Calories in your lunch:</label>
    <input type="number" name="lunchCal" placeholder="(eg. 1500)">
    <label> Calories in your dinner:</label>
    <input type="number" name="dinnerCal" placeholder="(eg. 700)")>
    <label> Other calorie intakes:</label>
    <input type="number" name="otherCal" placeholder="(eg 925)">
    <button type="submit">Check</button>
</form>