<% layout('/layouts/boilerplate') %>
    

        <div class="card text-center">
            <div class="card-header">
              Welcome To The HealthApp!
            </div>
            <div class="card-body">
              <h5 class="card-title">Join Now To Start Living Healthier Today!</h5>
              <a class="btn btn-outline-success" href="/register">Register</a>
              <p class="card-text">Already a user? Awesome! Login!</p>
              <a class="btn btn-outline-info" href="/login">Login</a> 
            </div>
            
        </div>

        
