<% layout('/layouts/boilerplate') %>

<form action="/login" method="post" novalidate class="validated-form"> 
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" required >
      <div class="valid-feedback">
        Looks Good!
      </div>
      <div id="username" class="form-text">We recommend a unique username that is easy to remember!</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
    </div>
    <div class="valid-feedback">
      Looks Good!
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



